<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="../../../assets/placeholder.png"
      alt="Imagem placeholder"
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <a href="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium delectus, reprehenderit quidem sunt eos consequuntur at, error officia facilis unde fugiat blanditiis provident, rerum pariatur vel architecto cum! Aliquid, repudiandae!</p>
    </a>
  </div>
</div>
