<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover= "../../../assets/homem-ferro/01.png"
      cardTitle= "HOMEM DE FERRO"
      cardDescription="Homem de Ferro é um personagem fictício dos quadrinhos publicados pela Marvel Comics. Sua identidade verdadeira é a do empresário e bilionário Tony Stark, que usa armaduras de alta tecnologia no combate ao crime."
    >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover= "../../../assets/homem-ferro/04.png"
      cardTitle= "Homem de Ferro"
    ></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card
      photoCover= "../../../assets/capitao-america/02.png"
      cardTitle= "Capitão America"
    ></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card
      photoCover= "../../../assets/homem-aranha/02.png"
      cardTitle= "Homem Aranha"
    ></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card
      photoCover= "../../../assets/pantera-negra/01.png"
      cardTitle= "Pantera Negra"
    ></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
